<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>
    <div class="contenedor-cuerpo">
        <header id="encabezado">
            <h1>VISTA DEL ADMINISTRADOR</h1>
            <button type="submit">cerrar sesion
            </header>
    </div>
    <br>
    <br>
    
    <div>
        <a href="/admin/products">PRODUCTOS</a>
        <br>
        <a href="/admin/users">USUARIOS</a>
    </div>

</body>
</html>