<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body>
    <div class="container-fluid">
        <%- include('../partials/header') %>
        <section class="page-header">
            <div class="row">
                <div class="col">
                    <h1 class="h2 h1-md text-center font-weight-bold">VISTA EXCLUSIVA DEL ADMINISTRADOR</h1>
                    <div class="row justify-content-md-center">
                        <a href="/users/logout"><button type="submit">Cerrar Sesión</button></a>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <section class="user-content pb-5">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <h6 class="lead font-weight-bold">A donde se quiere dirigir?</h6>
                        <br>
                        <div>
                            <button class="btn btn-outline-dark" onclick="window.location.href='/admin/products'">Mostrar todos los productos</button>
                            <br>
                            <button class="btn btn-outline-dark" onclick="window.location.href='/admin/users'">Mostrar todos los usuarios</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <%- include('../partials/scriptsBootstrap') %>
    <%- include('../partials/footer') %>
  </body>
  
</html>
