
body{
  margin: 0;
  padding: 0%;
  font-family: 'Montserrat', 'Poppins', 'Quicksand', sans-serif;
  background-color: #EBEBE9;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav .navbar-brand {
  border-radius: 50%;
  width: 100px;
}
.navbar{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #E3E6DA;
  
}
.navbar a{
  color: #2B580C;
}

marquee{
  margin-top: 150px;
}

.dropdown-menu{
  background-color: #D8EBB5;
}

/*Carousel--*/

.container1{
  padding: 0px;
}


/*--- Style Products Detail--*/
.card{
  border: none;
}
.row {
  margin-top: 20px;
  
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.photo-container img{
  
  height: 285px;
}

.producdetail{
  margin: 74px 0px;
}
/*--Style ShoppingCart--*/
.container2{
  margin: 60px 0px;
}
.costos{
  display: flex;
  justify-content: end;
}
#productname{
  padding-left: 0px;
}

/*--Products Style Home --*/

.row1{
  margin: 60px 0px;
}
.card-img-top{
  width: 100%;
  height: 70%;
}

a .card-img-top{
  width: 100%;
  height: 70%;
}

.text {
  display: flex;
  justify-content: center;
  font-size:50px;
  font-family:Poppins;
  
  color:#71d90b;
  text-transform:uppercase;
}
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
/*--Footer Style--*/

footer {
  background-color: #E3E6DA;
}

.text-uppercase {
  font-weight: bold;
  text-align: center ;
}

.links{
  color: #253628;
}

.list-unstyled {
  text-align: center;
}

.nav-footer-copyright{
  align-self: flex-start
}


/*---Carga de productos--*/

.contenedor-padre{

  background: #D8EBB5;
  display: flex;
  justify-content: center;
}

.container-1{
  margin: 20px ;
  padding: 10px;
  height: 700px;
  width: 500px;
  background:  #2B580C;
  box-shadow: 2px 20px 30px 10px rgba(8, 8, 8, 0.5);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.formulario{
  width:450px;
  height: 300px;
  color: white ;
}