
body {
    font-family: 'Poppins', sans-serif;
    background-color:#F0E9DA;

}

nav .navbar-brand .logo-inicio{
    border-radius: 50%;
  }
  
   .bg-light {
    background-color:  #D8EBB5!important;
  }
  .navbar-light .navbar-nav .active>.nav-link{
    color: #2B580C;
  }
  
  .card-group{
    margin-top: 10px;
  }
  
  .card-group .card{
   border: none;
   padding: 10px;
  }
  .dropdown-menu{
    background-color: #D8EBB5;
  }
  
  .nav-footer .icon-footer{
    padding: 5px;
    color: #2B580C;
  }
  
  .icon-footer h3{
    color: #2B580C;
  
  }
  

.titulo{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.price {
    font-weight: bold;
    font-size: 30px;
}

.button {
    border: 1px;
    border-color: black;
}

.contenido {
    color: #6F6565;
}


.card-img-top {
    position: relative;
    align-self: center;
}

.boton1, .boton2, .boton3{
    list-style: none;
    padding: 0%;
    margin-left: 30px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.boton2, .boton3{
    margin-top: 25px;
}


.img-circle{
    border-radius: 50%
}

.row {
    margin-top: 40px;
}

footer{
    margin-top: 100px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D8EBB5;

   }

.botonancho{
    
    width: 200px;
}
