
  body{
    
    font-family: Poppins;
  }
  
nav .navbar-brand .logo-inicio{
  border-radius: 50%;
}

 .bg-light {
  background-color:  #D8EBB5!important;
}
.navbar-light .navbar-nav .active>.nav-link{
  color: #2B580C;
}


.dropdown-menu{
  background-color: #D8EBB5;
}

.nav-footer .icon-footer{
  padding: 5px;
  color: #2B580C;
}
@media tv and (max-width: 700px)  { 
.carousel{
  display: none;
}
  

 }

/*--Products Style --*/

.row1{
  margin: 60px 0px;
}
.card-img-top{
  width: 100%;
  height: 70%;
}

a .card-img-top{
  width: 100%;
  height: 70%;
}

.text {
  display: flex;
  justify-content: center;
  font-size:50px;
  font-family:Poppins;
  
  color:#71d90b;
  text-transform:uppercase;
}
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
/*--Footer Style--*/
.icon-footer h3{
  color: #2B580C;

}

hr{
  border:solid 1px #2B580C;
}



footer{
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: row wrap;
    background-color: #D8EBB5;
}

.nav-footer-copyright{
  align-self: flex-start
}