body{
  margin: 0;
  padding: 0%;
  font-family: 'Muli', sans-serif;
  background-color: white;
}
row
#carrito {
  position: absolute;
  left: -20px;
  width:475px;
  height:300px;
  overflow-x: hidden;
  overflow-y: scroll !important;
}

#cargando {
  display: none;
}

.agregar-carrito{
  background-color: #49654c;
  border-color: #49654c;
}

.agregar-carrito:hover{
  background-color: #8aa989;
  border-color: #49654C;
  color:white
}


/*--- Header--*/

/* ESTA OKEY */
.navbar{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #E3E6DA;
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

#elementos-header{
  position: absolute;
  right: 200px;
}

#barra-busqueda{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* ver de borrar */

.form-inline{
  margin: 0px 11%;
}

/* ver de borrar */
.btn-outline-success{
  border: 0px;
}

/* ver de borrar */
.btn-outline-success:hover{
  background-color: transparent;
}

/* ver de borrar */
nav {
  display: flex;
  justify-content: space-between;
}

/* ver de borrar */
.dropdown-menu{
  background-color: #D8EBB5;
}

/* ver de borrar */
.logotipo {
  margin-right: auto;
}



/*Carousel  ESTA OKEY--*/
.container1{
  padding: 0px;
  margin-bottom: 50px;
}



/* ver de borrar */
/*--- Style Products Detail--*/
.card{
  border: none;
  box-shadow: 1px 10px 22px 0px rgba(0,0,0,0.75);
 
}

/* ver de borrar */
.row {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.photo-container img{
  width: 200px;
  height: 220px;
  display: flex;
  justify-content: center;
}

/*--Style ShoppingCart--*/
.container2{
  margin: 60px 0px;
}
.costos{
  display: flex;
  justify-content: end;
}
#productname{
  padding-left: 0px;
}

/*--Products Style Home --*/
.card-img-top{
  
  width: 290px;
  height: 290px;
  margin: auto;
  padding: 5px;
}


/*--Footer Style--*/

footer {
  background-color: #E3E6DA;
  margin-top: 300px;
  margin-bottom: 0px;
}

.text-uppercase {
  font-weight: bold;
  text-align: center ;
}

.links{
  color: black;
}

.list-unstyled {
  text-align: center;
}

.nav-footer-copyright{
  align-self: flex-start
}


/*---Carga de productos--*/

.contenedor-padre{

  background: #D8EBB5;
  display: flex;
  justify-content: center;
}

.container-1{
  margin: 20px ;
  padding: 10px;
  height: 700px;
  width: 500px;
  background:  #2B580C;
  box-shadow: 2px 20px 30px 10px rgba(8, 8, 8, 0.5);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.formulario{
  width:450px;
  height: 300px;
  color: white ;
}


/*---LOGIN--*/
.boton-iniciarsesion{
  background-color: #49654C;
  border: #49654c;
  border-radius: 30px;
}

.iniciar-sesion{
  position: relative;
  left: 160px;
}

.boton-iniciarsesion:hover{
  background-color: #8aa989;
  color:white
}

.btn-link{
  color: black;
}

.form-control{
  border-color: #8aa989;
  border-radius: 15px;
}

.form-control:focus, input:focus, input[type]:focus { 
  border-color: #49654c;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset;
  outline: 0 none;
}
/*---submenu--*/
.submenu{
  margin-top: 133px;
  border-bottom: 1px solid #49654c;
}
.submenu ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
}
ul li{
  list-style: none;
}

a{
color:#49654c;
text-decoration: none;
}


#C {
  position: absolute;
  top: 50%;
  width: 800px;
  height: 200px; 
  left: 50%;
  margin-left: -400px;
  margin-top: -130px;
}

#c li {
  width: 25%;
  list-style-type: none;
  position: absolute;
  top: 0;
  padding: 20px;
  height: 200px; 
  opacity: 0;
  padding-top: 40px;
  text-align: center;
  transition: 1s opacity; 
}

.active {
  opacity: 1;
}

p {
  font-family: sans-serif;
  font-size: 13px;
  color: #646566;
  line-height: 1.5em;
}

strong { 
  color: #fff;
  font-weight: 700;
  font-size: 60px; 
  line-height: 100px; 
}
/*--shopping cart--*/

#seguircomprando{
  width: 120px;
}

#realizarcompra{
  width: 120px;
}

/*--product detail--*/

#producto-detalle{
  display: flex;
  align-items: center;
  justify-content: center;
}

#imagen-detalle{
  width: 20px;
}