<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body>
    <div class="container-fluid">
        <%- include('../partials/header') %>
        <section class="page-header">
            <div class="row">
                <div class="col">
                    <h1 class="h2 h1-md text-center font-weight-bold">Sobre Mercado Orgánico</h1>
                </div>
            </div>
        </section>

        <section class="user-content pb-5">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <h6 class="lead font-weight-bold">Quiénes Somos</h6>
                        <br>Somos Valentina Breda y Martin Guillen. Tres alumnos de la institucion Digital House relizando el curso de programacion web full stack.<br>
                        En el marco del proyecto integrador para obtener la certificacion del curso, decidimos crear Mercado Organico, tu dietetica online, donde podras adquirir cualquier tipo de producto -organico- y saludable.</p>
        
                        <h6 class="lead font-weight-bold"><br>Cuál es Nuestra Diferencia</h6>
                        <br>Brindar a cada uno de nuestros clientes la mejor atención posible, escuchando atentamente sus necesidades y asesorandolos de la mejor manera a encontrar el producto que este necesita. Sabiendo que la satisfacción que se recibe al ayudar, no tiene precio.</br>
        
                        <br>“ESTAMOS OBSESIONADOS CON BRINDAR LA MEJOR EXPERIENCIA DE COMPRA EN INTERNET. EN CONTACTO CON LA INNOVACIÓN Y SOMOS CAPACES DE ADAPTARNOS RÁPIDAMENTE A LOS CAMBIOS, YA SEAN INTERNOS, DEL MERCADO O, ESPECIALMENTE, DEL COMPORTAMIENTO DE NUESTROS CLIENTES.”</br>
        

                        <h6 class="lead font-weight-bold"><br>Nuestra Misión: Conectar a las personas con la vida sana</h6>
                        <br>Nos encontramos continuamente en que la búsqueda de mejorar la atención, buscando los mejores productos, de la más alta calidad y el mejor precio para ofrecer en nuestro comercio. Es por esto que no ofrecemos productos, lo que ofrecemos en Mercado Organico es un servicio. Hemos creado este espacio para continuar brindándote los mejores productos, acercarte nuestra experiencia, contestar todas tus dudas e intentar hacerte llegar toda la información que necesites. Hoy en día trasladamos toda nuestra experiencia a nuestra web, brindando las mismas ventajas sin importar en donde se encuentre.</br>
        
                    </div>
                </div>
            </div>
        </section>
    </div>

    <%- include('../partials/scriptsBootstrap') %>
    <%- include('../partials/footer') %>
  </body>
  
</html>


        
            



