<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

<body>
    <div class="container-fluid">
        <section class="page-header">
            <div class="row">
                <div class="col">
                    <h1 class="h2 h1-md text-center font-weight-bold">Cómo Comprar</h1>
                </div>
            </div>
        </section>

        <section class="user-content pb-5">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <p dir="ltr">Una vez que hayas agregado al carrito todos los productos, hacé clic en el ícono
                            del canasto e iniciá la compra. Para finalizar tu pedido necesitamos que completes todos los
                            pasos, cargando tus datos personales, la forma de envío y de pago </p>

                        <p>Una vez acreditado el pago, armamos tu pedido y lo despachamos según la opción de envío que
                            hayas elegido. Si lo vas a retirar por nuestro local en CABA, por favor esperá a recibir
                            nuestro email con la confirmación de que ya podés pasar a buscarlo.</p>

                        <p dir="ltr">&nbsp;</p>

                        <p dir="ltr"><strong>Recomendaciones para una compra exitosa</strong></p>

                        <ul>
                            <li dir="ltr">
                                <p dir="ltr">Si bien podés comprar sin necesidad de registrarte en nuestra tienda, te
                                    recomendamos que al finalizar tu primera compra te registres como cliente. Eso te va
                                    a permitir no tener que volver a cargar tus datos en futuras compras y hacer
                                    seguimiento del progreso de tus pedidos.</p>
                            </li>
                            <li dir="ltr">
                                <p dir="ltr">Al hacer tu pedido y/o registrarte, dejanos tu teléfono (preferentemente
                                    celular) y una dirección de email que revises con frecuencia, para poder
                                    comunicarnos fácilmente en caso de que haya algún inconveniente con tu compra.</p>
                            </li>
                            <li dir="ltr">
                                <p dir="ltr">Una vez que recibas el email confirmando el despacho de tu pedido, te
                                    recomendamos hacer seguimiento diario del paquete usando el link y número de guía
                                    detallados en nuestro mensaje. Esto es importante para evitar que el paquete vuelva
                                    a nuestro depósito si el correo pasó por tu domicilio y no encontró a nadie.</p>
                            </li>
                        </ul>

                        <p><br>
                            Si necesitás ayuda con tu compra podés contactarnos por WhatsApp (+54) 11 2796 9705 o
                            escribirnos a info@dieteticacallao.com.ar</p>

                    </div>
                </div>
            </div>
        </section>
    </div>





    <%- include('../partials/scriptsBootstrap') %>
    <%- include('../partials/footer') %>
</body>

</html>