<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body>
    <div class="container-fluid">
        <%- include('../partials/header') %>
        <section class="page-header">
            <div class="row">
                <div class="col">
                    <h1 class="h2 h1-md text-center font-weight-bold">Condiciones de Envío</h1>
                </div>
            </div>
        </section>

        <section class="user-content pb-5">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <h6 class="lead font-weight-bold">¿Existe un Monto Mínimo?</h6>
                        <br>Puede realizar cualquier tipo de compra y el producto sera enviado, sin embargo tenemos un monto mínimo de compra de $500.

        
                        <h6 class="lead font-weight-bold"><br>¿Cuáles son los Métodos de Envío Disponibles?<h6>
                        <br>Dentro de Cordoba Capital contamos con envíos por cadeteria.
                        Los envíos al interior se realizan por Correo Argentino u otras empresas de transporte
        
                        <h6 class="lead font-weight-bold"><br>¿Cuáles son los Costos de Envío?</h6>
                        <br>- Cadetería (CBA-CAPITAL): varían según monto y peso del pedido, puede consultar los costos en el proceso de compra en la sección de “Entrega” una vez finalizada la selección de los artículos. <br>


                        - Correo Argentino u otras empresas de envío: varian según monto y el peso del pedido, puede consultar los costos en el proceso de compra en la sección de “Entrega” una vez finalizada la selección de los articulos

                        <h6 class="lead font-weight-bold"><br>Todavía no recibí mi pedido, ¿qué hago?</h6>
                        <br>Al momento de realizar el envío le vamos a enviar un codígo de seguimiento con la URL en la cual puede ver el estado de su pedido. También puede comunicarse con nosotros por cualquiera de nuestros canales de contacto: chat, email o teléfono.

                        <h6 class="lead font-weight-bold"><br>¿Puede un tercero recibir mi pedido?</h6>
                        <br>Sí, puede dejar a un tercero o algún funcionario de la portería del edificio, autorizado para recibirlo.

                        <h6 class="lead font-weight-bold"><br>¿Qué sucede si no hay nadie para recibir el pedido?</h6>
                        <br>En el caso de Correo Argentino en el caso de no encontrar a ninguna persona en el domicilio Correo Argentino envía su compra a la sucursal de Correo Argentino más cercana. Es posible verificar el seguimiento y acompañar la entrega del pedido en nuestro sitio.

                        <h6 class="lead font-weight-bold"><br>¿Cuál es el plazo de entrega de mi pedido?</h6>
                        <br>- COMPRAS A TRAVÉS AL INTERIOR: El plazo de entrega comienza a contar a partir de la confirmación del pago y varía de acuerdo con el producto adquirido y la dirección de entrega. Exceptuando casos excepcionales o eventos importantes donde los volúmenes de venta incrementan y pueden llegar a aumentar los tiempos de envío debido a que el Correo o los servicios de mensajería se encuentran saturados. Los tiempos de entrega para todo el país son de 2 a 6 días hábiles a partir del día en que es despachado el pedido. Atención: el plazo para entrega del pedido comienza a partir de la aprobación por la institución financiera y por Mercado Orgánico. <br>

                            <br>
                        - COMPRAS A TRAVÉS DEL SERVICIO DE CADETERIA O RETIRO EN SUCURSAL: Las mismas tendrán un plazo de 24hs a 72hs hábiles, una vez realizada la compra, tenga en cuenta que también puede ser recibido el mismo día si el producto se realiza durante la mañana y usted selecciona horarios de entrega por la tarde. Ante cualquier imprevisto le sera notificado via email o telefónicamente.</br>

                      
                    </div>
                </div>
            </div>
        </section>
    </div>

    
    
    

    <%- include('../partials/scriptsBootstrap') %>
    <%- include('../partials/footer') %>
  </body>
  
</html>