<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body>
    <div class="container-fluid">
        <%- include('../partials/header') %>
        <section class="page-header">
            <div class="row">
                <div class="col">
                    <h1 class="h2 h1-md text-center font-weight-bold">Términos y Condiciones</h1>
                </div>
            </div>
        </section>

        <section class="user-content pb-5">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <h6 class="lead font-weight-bold">COMPRA</h6>
                        <br>Para poder realizar compras el usuario interesado deberá registrarse en el sitio consignando la totalidad de información personal que se requiera. El usuario se obliga a que la información que consignará en todo momento, tanto al registrarse en el sitio como al efectuar una compra, y/o en cualquier otra ocasión en que deba consignarse información, será correcta y fehaciente, comprometiéndose a actualizar la misma en caso de ser necesario, y haciéndose enteramente responsable por los daños y perjuicios que pudiera causar la inclusión de cualquier información incorrecta o imprecisa que consigne al registrarse, incluyendo cualquier gasto en que pudiera incurrir el sitio como consecuencia de ello. Asimismo, el usuario reconoce y acepta que las claves o contraseñas que consigne serán de uso personal y se obliga a no divulgar las mismas. En caso en que el usuario detecte el uso no autorizado por un tercero de su contraseña o clave, se obliga a notificar de inmediato al sitio de dicha circunstancia.

                        El sitio ha sido diseñado para que cualquier consumidor pueda realizar en él compras de los productos que en el mismo se ofrecen sujeto al stock disponible al momento de la compra. En Mercado Orgánico el usuario del sitio podrá consultar cómo realizar compras en él. El usuario declara conocer y aceptar que al momento de confirmar la operación que efectúe está constituirá una operación de compra-venta, aplicándose a las mismas todas las normas legales correspondientes a ella.<br>
        
                        <h6 class="lead font-weight-bold"><br>STOCK</h6>
                        <br>El consumidor declara conocer que en virtud del dinamismo del sitio y que en el mismo pueden estar efectuando operaciones muchos consumidores a la vez, puede suceder que al momento de concretar la operación el producto ya no se encuentre disponible. Asimismo, una compra podrá no ser concretada en función del stock de mercadería disponible y/o por no haber sido aprobada la operación por la entidad emisora de la tarjeta de crédito con la que el consumidor opere y/o por no obtener el sitio la aprobación empresa contratada a tal efecto a los fines de evaluar el riesgo crediticio del usuario, etc. Las razones referidas, han sido enumeradas al mero título ejemplificativo. Asimismo, el consumidor reconoce aceptar que el sitio podrá requerirle datos adicionales con el objeto de poder concretar la operación. En caso de no confirmarse la operación, el sitio comunicará al usuario de dicha circunstancia mediante el envío de un correo electrónico que será cursado por el sitio.

                        En caso de confirmarse la compra, el usuario recibirá un correo electrónico una vez que el pedido haya sido despachado. De no recibir alguna de las dos comunicaciones anteriormente mencionadas el usuario deberá comunicarse con el sitio. Debido a que la comercialización de productos a través del sitio tiene como fin la venta al por menor y al por mayor, el sitio se reserva el derecho de limitar la cantidad de artículos que cada usuario podrá adquirir.</br>
        
                        <h6 class="lead font-weight-bold"><br>PROMOCIONES</h6>
                        <br>El sitio realiza promociones especiales. Las mismas pueden no estar vigentes permanentemente, y se encontrarán publicadas en el sitio. Las distintas promociones que pudieran estar vigentes, no son acumulativas. En el supuesto de existir excepciones, ello se establecerá expresamente en el sitio.</br>

                        <h6 class="lead font-weight-bold"><br>ENVIOS</h6>
                        <br>Existen diversas formas de entrega de la mercadería. El usuario podrá consultar las mismas en Mercado Organico. El usuario deberá recibir personalmente la mercadería adquirida exhibiendo su DNI como condición para recibirla, o bien podrá recibir la mercadería un tercero mediante la presentación del DNI del usuario comprador. Al concretar la operación, el usuario se está obligando a revisar la mercadería al momento de recibirla en el domicilio que éste consigne. La firma del remito correspondiente implicará la aceptación de la mercadería adquirida, sin perjuicio de los derechos que al usuario le asisten conforme la ley.

                        Dependiendo del tipo de compra que realice el usuario y las condiciones vigentes, la operación podrá tener o no costo de envío.
                        
                        Cualquier costo adicional que se genere como consecuencia de errores en el ingreso de datos por parte del Usuario así como también de problemas que se deban a su exclusiva actuación, serán adicionados a la factura.</br>

                        <h6 class="lead font-weight-bold"><br>FORMAS DE PAGO</h6>
                        <br>Las formas de pago disponibles se encuentran detalladas en el sitio en cuestion, las cuales podrán variar a mera discreción del sitio. Cualquier variación al respecto será expresamente indicada en el referido link.</br>
        
                    </div>
                </div>
            </div>
        </section>
    </div>

    
    
    

    <%- include('../partials/scriptsBootstrap') %>
    <%- include('../partials/footer') %>
  </body>
  
</html>