<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>
    <div class="contenedor-cuerpo">
        <header id="encabezado">
            <h1>VISTA DEL ADMINISTRADOR</h1>
            <input type="button">CERRAR SESION
        </header>
    </div>
    

</body>
</html>