<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="">
<body>
    <style>
       body{
        font-family: 'Montserrat', 'Poppins', 'Quicksand', sans-serif;
        background: #D8EBB5;
 
       }
        label{
            width: 100px;
            display: inline-block;
            margin: 20px;
        }
        .formulario{
        position: relative;
        align-items: flex-start;
        margin: 20px ;
        padding: 10px;
        height: 500px;
        width: 600px;
        background:  #2B580C;
        box-shadow: 2px 20px 30px 10px rgba(8, 8, 8, 0.5);
        display: flex;
        justify-content: center;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        }
        .container-fluid{
            display: flex;
            justify-content: center;
        }
        .form2{
            position: absolute;
            top: 70px;
        }
        .button{    
            position: absolute;
             left: 100px;
        }
    
    </style>
    <div class="container-fluid">
        <div class="formulario">
            <h2>Crear Cuenta</h2>
            
            <form class="form2" action="" method="POST" enctype="multipart/form-data">
        
                <label for="nombre_usuario">Nombre de Usuario</label>
                <input type="text" id="nombre_usuario" name="nombre_usuario" placeholder="Ingrese nombre de usuario" required> <br>
        
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Ingrese correo electronico" required> <br>
        
                <label for="telefono">Teléfono</label>
                <input type="text" id="telefono" name="telefono" placeholder="Ingrese su telefono"> <br>
        
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" placeholder="Ingrese contraseña" required> <br>
        
                <label for="repeat_password">Repetir contraseña</label>
                <input type="password" name="repeat_password"  placeholder="Repita su Contraseña"required> <br>
        
               
        
                 <button class="button" type="submit">REGISTRARSE</button>
            </form>
        </div>
    </div>


</body>
</html>