<div class="formulario">
    <h2>Crear Cuenta</h2>
    <form action="">
        <input type="text" placeholder="Usuario" required>
        <input type="password" placeholder="Contraseña" required>
        <input type="email" placeholder="Correo Electronico" required>
        <input type="text" placeholder="Telefono">
        <input type="submit" value="Registrarse">
    </form>
</div>