<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Poppins">
  </head>
  <body>
    <div class="contenedor">
      <header>
        <div class="logo">
            <a href="#"><img src="/Imagenes/Mercado Orgánico - 5.png" alt="Logo-Mercado-Organico"></a>
        </div>
        <div class="center">
          <form action="buscar">
            <input type="search" id="buscar" placeholder="Buscar...">
            
          </form>  
        </div>
        <div class="end">
            <nav class="menu">
              <a href="#">Iniciar Sesión</a>
              <a href="#">Carrito</a>
              <a href="#">Contacto</a>
            </nav>
        </div>
          
    </div>
    
  
  </header>
  </body>
</html>
