<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <div class="container-fluid">
      <%- include('./partials/header') %>
    </div>
    <%- include('./partials/scriptsBootstrap') %>
  </body>
</html>
