    <%- include('partials/head') %>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <div class="contenedor">
      <%- include('partials/header') %>
    </div>
  <%- include('partials/end') %> 