<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <div class="container">
            <%- include('./partials/header') %>
            <!-- Detallar el producto -->
            <%- include('./partials/footer') %>
        </div>
        <%- include('./partials/scriptsBootstrap') %>
    </body>
</html>