<!DOCTYPE html>
<html lang="en">
<% include partials/head %> 

<body>
   
    <div class="container">
        <% include partials/header %> 
        
        <div class="container2">
            <div class="row">
                <div class="col-12">Carrito de Compras</div>
            </div>
            <div class="row costos">
                <div class="col-sm-12 col-lg-3  col-xl-3 texto">
                    <img src="../public/images/BEEPURE_Granola-Frasco.jpg" alt="..." width="150px">
                    <p>Granola artesanal Beepure x 300gr.</p>
                </div>

                <div class="col-sm-12 col-lg-3  col-xl-3 texto">Cantidad
                    <p>Numero</p>  
                </div>
                <div class="col-sm-12 col-lg-3  col-xl-3 texto">Precio
                    <p>Numero</p>
                </div>
                <div class="col-sm-12 col-lg-3  col-xl-3 texto">Subtotal
                    <p>Numero</p>
                </div>

                <div class="col-12">
                    <p class="text-right clasetotal">Total: <span id="total"></span>&#36; 279,99</p>
                </div>

                <div class="col-sm-12  botones">
                    <button type="button" class="btn btn-outline-dark boton1">SEGUIR COMPRANDO</button>
                    <button type="button" class="btn btn-outline-dark boton2">INICIAR COMPRA</button>
                    
                        <button type="button" class="btn btn-outline-dark botonborrar">
                            <i class="fas fa-trash-alt"></i> 
                        </button>       
                    </div>
            </div>
        </div>

        
         
            
    

           
<% include partials/footer %> 
</div>

<% include partials/scriptsBootstrap %> 

</body>
</html>