<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
<div class="container-fluid">
    <%- include('./partials/headerCart') %>
    <div class="container2">
        <div class="row">
            <h2 class="d-flex justify-content-center mb-3">Realizar Compra</h2>
        </div>
        <div class="row costos">
            <div id="carrito" class="table-responsive">
                <table class="table" id="lista-compra">
                    <thead>
                        <tr>
                            <th scope="col">Imagen</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Sub Total</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    
                    </thead>
                    <tbody>
                    
                    </tbody>
                    <tr>
                        <th colspan="4" scope="col" class="text-right">TOTAL :</th>
                        <th scope="col">
                            <p id="total"></p>
                        </th>
                        <!-- <th scope="col"></th> -->
                    </tr>
                
                </table>
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-4 mb-2">
                        <a id="seguircomprando" href="/" class="btn btn-info btn-block">Seguir comprando</a>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <a href="" class="btn btn-success btn-block" id="procesar-compra">Realizar compra</a>
                    </div>
                </div>
        </div>
    </div>
    
</div>
<%- include('./partials/footer') %>
<%- include('./partials/scriptsBootstrap') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="javascripts/carrito.js"></script>
<script src="javascripts/compra.js"></script>
</body>
</html>