<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario creado exitosamente</title>
</head>
<body>
    <h3>El usuario ha sido creado exitosamente.</h3>
    <h3>Bienvenido a Mercado Orgánico</h3>
    <a href="/">Haga click aqui para volver al home</a>
</body>
</html>