<footer>
    <a class="icon-footer" href="index.html"><h3>Mercado Organico</h3></a>
    <small class="nav-footer-copyright">Copyright ©&nbsp;1999-2020 MercadoOrganico S.R.L.</small>
    <nav class="nav-footer">
      <a class="icon-footer" href="https://twitter.com/?lang=es"><img src="../public/images/img-home/twitter.png" alt=""></a>
      <a class="icon-footer" href="https://es-la.facebook.com/"><img src="../public/images/img-home/facebook.png" alt=""></a>
      <a class="icon-footer" href="https://web.whatsapp.com/"><img src="../public/images/img-home/whatsapp.png" alt=""></a>
      <a class="icon-footer" href="https://www.instagram.com"><img src="../public/images/img-home/instagram.png" alt=""></a>
    </nav>
</footer>