<footer>
  <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Sobre nosotros</h5>
        <br>
        <ul class="list-unstyled">
          <li>
            <a class="links" href="/aboutUs">Quienes somos</a>
          </li>
          <br>
          <li>
            <a class="links" href="/termsAndConditions">Términos y Condiciones</a>
          </li>
          <br>
          <li>
            <a class="links" href="/shippingInfo">Condiciones de envios</a>
          </li>
          <br>
          <li>
            <a class="links" href="#!">Preguntas Frecuentes</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase font-weight-bold">Ayuda</h5>
        <br>
        <ul class="list-unstyled">
          <li>
            <a class="links" href="#!">Como comprar</a>
          </li>
          <br>
          <li>
            <a class="links" href="#!">Medios de pago</a>
          </li>
          <br>
          <li>
            <a class="links" href="#!">Políticas de cambios</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase font-weight-bold">Contactanos</h5>
        <br>
        <ul class="list-unstyled">
          <li>
            <a class="links" href="#!">pedidos@mercadoorganico.com</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase font-weight-bold">Seguinos</h5>
        <br>
        <ul class="list-unstyled">
          <li>
            <a class="icon-footer" href="#!" ><img src="images/icons/instagram.png" width="20px" alt=""></a>       
            <a class="icon-footer" href="#!"><img src="images/icons/facebook.png" width="20px" alt=""></a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Mercado Orgánico S.R.L.</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</footer> 