<header>
    <div class="logo">
        <a href="#"><img src="/Imagenes/Mercado Orgánico - 5.png" alt="Logo-Mercado-Organico"></a>
    </div>
    <div class="center">
      <form action="buscar">
        <input type="search" id="buscar" placeholder="Buscar..."><button>O</button>
        
      </form>  
    </div>
    <div class="end">
        <nav class="menu">
          <a href="#">Iniciar Sesión</a>
          <a href="#">Carrito</a>
          <a href="#">Contacto</a>
        </nav>
    </div>