<header>
  <div class="logo">
      <a href="#"><img src="../public/images/Mercado Orgánico - 3.png" alt="Logo-Mercado-Organico" class="img-circle"></a>
  </div>
  <div class="center">
    <form action="buscar">
      <input type="search" id="buscar" placeholder="Buscar...">
    </form>
  </div>
  <div class="end">
      <nav class="menu">
        <a href="#">Iniciar Sesión</a>
        <a href="#">Carrito</a>
        <a href="#">Contacto</a>
      </nav>
  </div>
</header>